.wrapper {
  background: linear-gradient(45deg, rgb(207, 108, 124), rgb(143, 15, 143));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  border: 2px solid transparent;
  background: linear-gradient(-45deg, rgb(215, 106, 124), rgb(164, 18, 164));
  padding: 2rem;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
}

.form-group > input {
  border-radius: 10px;
  border: 1px solid pink;
  padding: 5px 10px;
  background-color: transparent;
}

.form-group > input::placeholder {
  color: pink;
}
